{% extends "home.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>Registrazione Utente</h1>
        <form method="POST" action="{{ url_for('admin.registrazione') }}">
          {{ form.hidden_tag() }}
          <div class="form-group mb-3">
            {{ form.username.label }}
            {{ form.username(class="form-control", size=30) }}
            {% if form.username.errors %}
              <span style="color: red;">{{ form.username.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.email_address.label }}
            {{ form.email_address(class="form-control", size=30) }}
            {% if form.email_address.errors %}
              <span style="color: red;">{{ form.email_address.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.password.label }}
            {{ form.password(class="form-control", size=30) }}
            {% if form.password.errors %}
              <span style="color: red;">{{ form.password.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control", size=30) }}
            {% if form.confirm_password.errors %}
              <span style="color: red;">{{ form.confirm_password.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.ruolo.label }}
            {{ form.ruolo(class="form-select") }}
            {% if form.ruolo.errors %}
              <span style="color: red;">{{ form.ruolo.errors[0] }}</span>
            {% endif %}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}