<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Biblioteca PLUS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('opere') }}">Opere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('autori') }}">Autori</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dewey') }}">Codifica Dewey</a>
        </li>      
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <span class="nav-link">Benvenuto, {{ current_user.username }}</span>
        </li>
        {% if current_user.is_authenticated %}
        {% if current_user.is_amministratore %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('registrazione') }}">Registra Utente</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link text-danger" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> 
  
  
  
  