{% extends "home.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>Registrazione Utente</h1>
        <form method="POST" action="{{ url_for('register') }}">
          {{ form.hidden_tag() }}
          <div class="form-group mb-3">
            {{ form.username.label }}
            {{ form.username(class="form-control", size=30) }}
            {% if form.username.errors %}
              <span style="color: red;">{{ form.username.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.email_address.label }}
            {{ form.email_address(class="form-control", size=30) }}
            {% if form.email_address.errors %}
              <span style="color: red;">{{ form.email_address.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.password1.label }}
            {{ form.password1(class="form-control", size=30) }}
            {% if form.password1.errors %}
              <span style="color: red;">{{ form.password1.errors[0] }}</span>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.password2.label }}
            {{ form.password2(class="form-control", size=30) }}
            {% if form.password2.errors %}
              <span style="color: red;">{{ form.password2.errors[0] }}</span>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary">Crea Account</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}